@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        
    <link rel="stylesheet" media="screen" href="uiassets/lib/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" media="screen" href="uiassets/lib/bootstrap/bootstrap-theme.min.css"/>
    <link rel="stylesheet" media="screen" href="uiassets/css/style.css"/>
    <link rel="stylesheet" media="screen" href="uiassets/lib/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" media="screen" href="uiassets/lib/text-angular/textAngular.min.css"/>
    <link rel="stylesheet" media="screen" href="uiassets/lib/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" media="screen" href="uiassets/lib/jstree/themes/default/style.css" />
    <link rel="stylesheet" media="screen" href="uiassets/css/w2ui-1.4.2.css" />
    <link rel="stylesheet" media="screen" href="uiassets/stylesheets/main.css" />

    <script src="uiassets/lib/jquery/jQuery1.11.0.js" type="text/javascript"></script>
    <script src="uiassets/lib/angular/angular-1.2.14/angular.min.js" type="text/javascript"></script>
    <script src="uiassets/lib/angular/angular-1.2.14/angular-animate.js" type="text/javascript"></script>
    <script src="uiassets/lib/angular/angular-ui/angular-ui-router-new.js" type="text/javascript"></script>
    <script src="uiassets/lib/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="uiassets/lib/bootstrapJS/bootstrap.min.js" type="text/javascript"></script>
    <script src="uiassets/lib/bootstrapJS/bootstrap-transition.js" type="text/javascript"></script>
    <script src="uiassets/lib/bootstrapJS/bootstrap-modal.js" type="text/javascript"></script>
    <script src="uiassets/lib/ChartJS/chart.js" type="text/javascript"></script>
    <script src="uiassets/lib/vis.js" type="text/javascript"></script>
    <script src="uiassets/lib/jstree/jstree.js" type="text/javascript"></script>

    <script src="uiassets/lib/text-angular/textAngular-sanitize.min.js" type="text/javascript"></script>
    <script src="uiassets/lib/text-angular/textAngular.min.js" type="text/javascript"></script>

    <script src="uiassets/lib/highchart/highcharts.src.js" type="text/javascript"></script>
    <script src="uiassets/lib/highchart/exporting.js" type="text/javascript"></script>

    <script src="uiassets/lib/underscore/underscore.min.js" type="text/javascript"></script>
    <script src="uiassets/lib/raphael-2.1.2/raphael.min.js" type="text/javascript"></script>
    <script src="uiassets/lib/w2ui-1.4.2.js" type="text/javascript"></script>

    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 no-padding">
                <div class="well top-header">
                    <img  class="img-responsive height-30-width-all"  src="uiassets/images/parabole-platform.png"/>
                </div>
            </div>
        </div>
            <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-sm-6 col-md-3 right-border">
            </div>
            <div class="col-sm-6 col-md-9">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a href="/rda">
                        <div class="well p-tablet">
                            <img  class="img-responsive width-auto" src="uiassets/images/rda.png"/>
                            <h3>RDA</h3>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="/rda">
                            <div class="well p-tablet">
                                <img  class="img-responsive width-auto" src="uiassets/images/ccar.png"/>
                                <h3>CCAR</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a href="/config">
                            <div class="well p-tablet">
                                <img class="img-responsive width-auto" src="uiassets/images/conf.png"/>
                                <h3>Configuration</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>


    </body>
</html>
