*.class
*.dat
*.db
*.doc
*.xls
*.ppt
*.exe
*.idn
*.iml
*.ini
*.jrnl
*.lock
*.log
*.opt
*.pdf
*.rar
*.swp
*.zip
*.rar
*.7z
*.gz
*-shim*
catalog-v*.xml
desktop.ini
.DS_Store
.cache
.classpath
.history
.idea
.idea_modules
.orientdb_history
.project
.settings
.target
*.iml
.cache
.idea
.idea_modules
.settings
.target
out
projectFilesBackup
dist
logs
project/project
project/target
tdb
tdb/*.*
target
tmp
/RUNNING_PID
