<div class="panel panel-default">
  <div class="panel-heading"><b>{{viewTitle}}</b><span class="glyphicon glyphicon-plus pull-right" ng-click="addDatasrc()"></span></div>
  <div class="panel-body drop-datasrc">
      <table class="table table-striped">
        <thead>
          <th>SL.</th><th>NAME</th><th></th>
        </thead>
        <tbody>
          <tr ng-repeat="ds in dataSourceList">
            <td>{{$index + 1}}</td><td>{{ds.name}}</td><td><span class="glyphicon glyphicon-remove pull-right" ng-click="removeDatasrc(ds)"></span><span class="glyphicon glyphicon-edit pull-right" style="margin-right:10px;" ng-click="getDatasrcInfo(ds)"></span></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div id="datasrcModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Enter Name</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Name" ng-model="datasource.name">
          </div>
          <div class="form-group">
            <label>Type</label>
            <select type="text" class="form-control"   ng-options="d.name as d.name for d in datasrcTypes" ng-model="datasource.type" ng-change="datasrcchng()"></select>
          </div>  

          <div ng-hide="value1">      
          <div class="form-group">
            <label>Driver</label>
            <select type="text" class="form-control" ng-options="d.name as d.name for d in datasrcDrivers" ng-model="datasource.driver"></select>
          </div>
         
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Connection String" ng-model="datasource.connectionstr">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Userid" ng-model="datasource.userid">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter Password" ng-model="datasource.password">
          </div>
        </div>


            <div class="form-group" ng-hide="value2">
           <label for="exampleInputFile">File input</label>          

            <input file-upload type="file" name="upload" ng-model="datasource.filedata" accept="*/*" multiple="multiple"  />     
           </div>


           


        </div>
        <div class="modal-footer">
         <div ng-hide="value1"> <button type="button" class="btn btn-default pull-left" ng-click="testConnection()">Test Connection</button></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-disabled="disableSave" ng-click="saveDatasrc()">Save</button>
        </div>      
    </div>
  </div>
</div>

<div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
        </div>
        <div class="modal-footer" style="margin-top:0;">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" ng-click="removeDataSource()">Yes</button>
        </div>      
    </div>
  </div>
</div>