<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href="/rda/doLogin">
        <div class="well p-tablet">
          <img  class="img-responsive width-auto" src="uiassets/images/rda.png"/>
          <h3>Risk Data Aggregation</h3>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="/ccar/doLogin">
        <div class="well p-tablet">
          <img  class="img-responsive width-auto" src="uiassets/images/ccar.png"/>
          <h3>Comprehensive Capital Analysis</h3>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="/cecl/doLogin">
        <div class="well p-tablet">
          <img class="img-responsive width-auto" src="uiassets/images/cecl.png"/>
          <h3>Current Expected Credit Loss</h3>
        </div>
      </a>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href="#">
        <div class="well p-tablet">
          <img class="img-responsive width-auto" src="uiassets/images/conf.png"/>
          <h3>Configuration</h3>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#">
        <div class="well p-tablet">
          <img class="img-responsive width-auto" src="uiassets/images/report.png"/>
          <h3>Report</h3>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4">
      <a href="#">
        <div class="well p-tablet">
          <img class="img-responsive width-auto" src="uiassets/images/profile.png"/>
          <h3>My profile</h3>
        </div>
      </a>
    </div>
  </div>
  <br />
</div>