<div class="panel panel-default">
  <div class="panel-heading"><b>{{viewTitle}}</b></div>
  <div class="panel-body drop-datasrc">
      <table class="table table-striped">
        <thead>
          <th>SL.</th><th>NAME</th><th>DESCRIPTION</th><th>REST ENDPOINT</th><th></th>
        </thead>
        <tbody>
          <tr ng-repeat="cv in combinedViews">
            <td>{{$index + 1}}</td><td>{{cv.name}}</td><td class="ellipsis-text" style="max-width:25vw;" tooltip='"title":"{{cv.description}}"'>{{cv.description}}</td><td class="ellipsis-text" style="max-width:15vw;" ng-click="goLink(cv.link)">{{cv.link}}</td><td><span class="glyphicon glyphicon-remove pull-right" ng-click="confirmRemove(cv)"></span><span class="glyphicon glyphicon-eye-open pull-right" style="margin-right:10px;" ng-click="getCombinedView(cv)"></span></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div id="logicalViewModal" class="modal fade bs-example-modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{viewName}}</h4>
      </div>
      <div class="modal-body" style="height:49vh;overflow:auto;">  
        <div class="table-responsive" id='lvGrid' style='height:45vh'>
         
        </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
        </div>
        <div class="modal-footer" style="margin-top:0;">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" ng-click="removeCombinedView()">Yes</button>
        </div>      
    </div>
  </div>
</div>