<div class="panel panel-default">
    <div class="panel-heading"><b>{{heading.title}}: CCAR Overall Plan</b></div>
    <div class="panel-body" style="height: 82vh;">    
        <div class="row">
            <div class="col-sm-12 ">
                <vis-timeline data="data" options="options" events="events"></vis-timeline>
            </div>
        </div>
        <div class="row">
            <ul style="margin-top: 7vh; color:green; margin-left:2vh;">
              <li>Data element identification 70 % (7/10)</li>
              <li>System Of Record Identification 50 % (5/10)</li>
              <li>Gap closure 50 % (1/2)</li>
            </ul>
        </div>                
    </div>
</div>
