@(message: String)
<!doctype html>
<html ng-app="RDAApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Parabole Semantics Solutions Platform (PSSP)</title>
<!------------------------CSS Files---------------------------->
    <link rel="stylesheet" media="screen" href="rdaassets/lib/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" media="screen" href="rdaassets/lib/bootstrap/bootstrap-theme.min.css"/>
    <link rel="stylesheet" media="screen" href="rdaassets/css/style.css"/>
    <link rel="stylesheet" media="screen" href="rdaassets/lib/font-awesome-4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" media="screen" href="rdaassets/lib/text-angular/textAngular.min.css"/>
    <link rel="stylesheet" media="screen" href="rdaassets/lib/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" media="screen" href="rdaassets/lib/jstree/themes/default/style.css" />
    <link rel="stylesheet" media="screen" href="rdaassets/css/w2ui-1.4.2.css" />

<!-----------------------CSS ENDS----------------------------->

<!-----------------------JavaScript Files----------------------------->

<!----------------Start JS Liabraries-------------->

    <script src="rdaassets/lib/jquery/jQuery1.11.0.js" type="text/javascript"></script>
    <script src="rdaassets/lib/angular/angular-1.2.14/angular.min.js" type="text/javascript"></script>
    <script src="rdaassets/lib/angular/angular-1.2.14/angular-animate.js" type="text/javascript"></script>
    <script src="rdaassets/lib/angular/angular-ui/angular-ui-router-new.js" type="text/javascript"></script>
    <script src="rdaassets/lib/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="rdaassets/lib/bootstrapJS/bootstrap.min.js" type="text/javascript"></script>
    <script src="rdaassets/lib/bootstrapJS/bootstrap-transition.js" type="text/javascript"></script>
    <script src="rdaassets/lib/bootstrapJS/bootstrap-modal.js" type="text/javascript"></script>
    <script src="rdaassets/lib/ChartJS/chart.js" type="text/javascript"></script>
    <script src="rdaassets/lib/vis.js" type="text/javascript"></script>
    <script src="rdaassets/lib/jstree/jstree.js" type="text/javascript"></script>

    <script src="rdaassets/lib/text-angular/textAngular-sanitize.min.js" type="text/javascript"></script>
    <script src="rdaassets/lib/text-angular/textAngular.min.js" type="text/javascript"></script>

    <script src="rdaassets/lib/highchart/highcharts.src.js" type="text/javascript"></script>
	<script src="rdaassets/lib/highchart/exporting.js" type="text/javascript"></script>
	
    <script src="rdaassets/lib/underscore/underscore.min.js" type="text/javascript"></script>
    <script src="rdaassets/lib/raphael-2.1.2/raphael.min.js" type="text/javascript"></script>  
    <script src="rdaassets/lib/w2ui-1.4.2.js" type="text/javascript"></script> 

    <!-- End JS Liabraries --> 
    <script src="rdaassets/js/app.js" type="text/javascript"></script>
    <script src="rdaassets/js/controllers.js" type="text/javascript"></script>
    <script src="rdaassets/js/services.js" type="text/javascript"></script>
    <script src="rdaassets/js/viswrapper.js" type="text/javascript"></script>
    <script src="rdaassets/js/jshighWrapper.js" type="text/javascript"></script>
    <script src="rdaassets/js/jstreeWrapper.js" type="text/javascript"></script>
    <script src="rdaassets/js/rdaMapper.js" type="text/javascript"></script>
    <script src="rdaassets/js/listBuilder.js" type="text/javascript"></script>
    <script src="rdaassets/js/raphaelArrow.js" type="text/javascript"></script>
    <script src="rdaassets/js/coordinate.js" type="text/javascript"></script>
    <script src="rdaassets/js/constants.js" type="text/javascript"></script>
    <script src="rdaassets/js/w2uiwrapper.js" type="text/javascript"></script>
    <script src="rdaassets/js/directive.js" type="text/javascript"></script>


    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

	<script>
		var userName = "@message";
	</script>
</head>

<body ng-controller="mainCtrl">
    <ui-view>
    </ui-view>
    <loader></loader>
</body>
</html>
