<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-chevron-left pull-left" style="margin-right:10px;" ng-click="goPreviousScreen()"></span>{{currentEdge.name}}<span class="glyphicon glyphicon-floppy-disk pull-right" data-toggle="modal" data-target="#dbViewModal"></span></div>
    <div class="panel-body db-view">    
        <div class="table-responsive">
		  <table class="table">
		  	<thead><th ng-repeat="head in rdbViewData.columnNames track by $index">{{head}}</th></thead>
		  	<tr ng-repeat="tr in rdbViewData.tableData track by $index" ng-init="avoidNullValue(tr)"><td ng-repeat="td in tr track by $index">{{td}}</td></tr>
		  </table>
		</div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="dbViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter a name</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="viewName" placeholder="Enter a name">
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveView()">Save</button>
      </div>
    </div>
  </div>
</div>