<div class="panel panel-default">
	<div class="panel-heading">
    <span class="glyphicon glyphicon-chevron-left pull-left" style="margin-right:10px;margin-top:5px;" ng-click="goPreviousScreen()"></span>
    <b>Impact Simulator</b>
    <div class="right-inner-addon" style="display:inline-block;width:25%;margin-left:20px;">
        <i class="glyphicon glyphicon-search"></i>
        <input type="search" class="form-control" placeholder="Search" ng-model="searchText" ng-enter="searchNode()" />
    </div>
		<span ng-show="currentSelNode" class="glyphicon glyphicon-play pull-right" ng-click="doNext()"></span>
	</div>
	<div id="graphDiv" class="panel-body" style="height:76vh;overflow:auto;">

	</div>
  <div class="modal-footer legend-container" style="margin-top: 0;padding: 0 0 0 15px;">
    <div class="legend pull-left" style="border:0;">
      <div class="legend-section" ng-repeat="i in [999,1,2,3,4,5,6,7,8,9,10,100]">
        <div ng-if="i==999" class="arrow c{{i}}"></div>
        <div ng-if="i==999" class="bubble-title">Impacted</div>

        <div ng-if="i!=999 && i!=100" class="arrow c{{i}}"></div>
        <div ng-if="i!=999 && i!=100" class="bubble-title">Level-{{i}}</div>

        <div ng-if="i==100" class="arrow c{{i}}"></div>
        <div ng-if="i==100" class="bubble-title">Overhead</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="impactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:92%;">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Impact Path</h4>
        <div class="right-inner-addon impact-search" style="left:140px;">
          <i class="glyphicon glyphicon-search"></i>
          <input type="search" class="form-control" placeholder="Search" ng-model="searchText" ng-enter="searchImpactNode()" />
        </div>
        <span style="right:40px;" class="fa-stack impact-capture" ng-click="captureGraph()" tooltip='"title":"Capture Graph"'>
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div id="impactDiv" class="modal-body" style="padding-bottom:0;height:65vh;"></div>
      <div class="modal-footer legend-container" style="margin-top: 0;padding: 0 0 0 15px;">
        <div class="legend pull-left" style="border:0;">
          <div class="legend-section" ng-repeat="i in [999,1,2,3,4,5,6,7,8,9,10,100]">
            <div ng-if="i==999" class="arrow c{{i}}"></div>
            <div ng-if="i==999" class="bubble-title">Impacted</div>

            <div ng-if="i!=999 && i!=100" class="arrow c{{i}}"></div>
            <div ng-if="i!=999 && i!=100" class="bubble-title">Level-{{i}}</div>

            <div ng-if="i==100" class="arrow c{{i}}"></div>
            <div ng-if="i==100" class="bubble-title">Overhead</div>
          </div>
        </div>
      </div>
      <div class="legend-container" style="height:3vh;margin:0 0 8px 15px;">
        <div class="legend pull-left" style="border:none">
          <div class="arrow report"></div>
          <div class="bubble-title">Report</div>
          <div class="arrow policy"></div>
          <div class="bubble-title">Policy</div>
          <div class="arrow person"></div>
          <div class="bubble-title">Person</div>
          <div class="arrow model"></div>
          <div class="bubble-title">Model</div>
          <div class="arrow committee"></div>
          <div class="bubble-title">Committee</div>
          <div class="arrow information"></div>
          <div class="bubble-title">Information</div>
          <div class="arrow system"></div>
          <div class="bubble-title">System</div>
          <div class="arrow data"></div>
          <div class="bubble-title">Data</div>
        </div>
      </div>
      <div class="modal-footer" style="margin-top: 0;">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="!currentImpactNode" style="padding:3px 10px;" ng-click="getAllViewsBySelNode()"><span class="glyphicon glyphicon-eye-open"></span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" id="logicalViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{currentImpactNode.name}}</h4>
      </div>
      <div class="modal-body"  style="height:68vh;padding:0;overflow:auto;">
        <div ng-repeat="view in logicalViewCfg.views" collapsible='"actObj":"view", "type":"list", "viewable":true'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="backToImpact()">Back</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter a name</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="impactPathName" placeholder="Enter a name">
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveImpactPath()">Save</button>
      </div>
    </div>
  </div>
</div>