<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Root Nodes</b>
        </div>
        <div class="panel-body" style="height:82vh;overflow:auto;">
            <div class="col-xs-6" ng-repeat="r in rootNodes" style="padding:0 25px;">
                <div class="well row">
                    <div class="col-xs-1">
                        <input name="rootNode" type='radio' ng-model='request.rootNode' ng-value="r.id" />
                    </div>
                    <div class="col-xs-10 ellipsis-text" tooltip='"title":"{{r.name}}"'>{{r.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Destination Nodes</b>
            <span ng-show="request.rootNode && request.destinationNodes.length>0" class="glyphicon glyphicon-play pull-right" ng-click="doNext()"></span>
        </div>
        <div class="panel-body" style="height:82vh;overflow:auto;">
            <div class="col-xs-6" ng-repeat="d in destinationNodes" style="padding:0 25px;">
                <div class="well row">
                    <div class="col-xs-1">
                        <input type='checkbox' ng-model='d.selected' ng-change="onDestinationNodeSelect(d)"/>
                    </div>
                    <div class="col-xs-10 ellipsis-text" tooltip='"title":"{{d.name}}"'>{{d.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>