<div class="panel panel-default">
    <div class="panel-heading"><b>{{viewTitle}}</b><span class="glyphicon glyphicon-play pull-right" ng-click="goRiskGraph()"></span></div>
        <div class="panel-body" style="height:82vh;overflow:auto;">  
            <div class="row">
                <div class="col-sm-12 ">
                    <ul class="imgBtn" style="font-size:1vw;">
                        <li class="col-sm-6" ng-repeat="dm in dashboardRiskMenu.vertices" ng-init="setColumns(dm)">
                            <div class="well" style="margin:1vmin;">
                                <table >
                                    <tr>
                                        <td  style='padding-right:15px;'>
                                            <input type='checkbox' ng-model='dm.selected'/>
                                        </td>
                                        <td class="hover-text" ng-click="getNodeInfo( dm )">{{dm.name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>       
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="nodeInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter a name</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="well">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="column.name" placeholder="Column name">
          </div>
          <div class="form-group">
            <label>Select Relation</label>
            <select class="form-control" ng-options="d.id as d.name for d in cardinals" ng-model="column.cardinality"></select>
          </div>
          <span style="left:45%;" class="glyphicon glyphicon-plus" ng-click="addNodeInfo()"></span>
        </form>  
        <ul class="list-group" style="margin-bottom: 0;max-height: 40vh;overflow: auto;">
            <li class="list-group-item" ng-repeat="col in currentNode.columns">{{col.name}} ( {{cardinals[col.cardinality].name}} )<span class="glyphicon glyphicon-remove pull-right" ng-click="removeColumn($index)"></span></li>
        </ul>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveBaseNodeConfiguration()">Save</button>
      </div>
    </div>
  </div>
</div>