<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-chevron-left pull-left" style="margin-right:10px;" ng-click="goPreviousScreen()"></span>
        {{heading.title}} – Completion Coverage
        <span class="glyphicon glyphicon-eye-open pull-right" ng-click="showDetail()"></span>
    </div>
    <div class="panel-body zero-padding" style="height: 82vh; overflow-y: auto;">    
                <ul class="nav nav-tabs nav-justified">
                  <li role="presentation" class="box" ng-class="{'navActive': $index==0}" id="1" ng-click="changeMode($event,$index)" ng-repeat="s in scheduleData"><a style="background:#f5f5f5;">{{s.name}}</a></li>
                  <!-- <li role="presentation" class="box" id="2" ng-click="changeMode($event)"><a>DE Completion (By # of obligors)</a></li> -->
                </ul>
                <div class="container-fluid z-depth-1" >
                    <div class="z-depth-1 col-xs-6" style="overflow-y:scroll; height: 76vh;">
                        <table class="table table-hover table-striped z-depth-1" style="margin-top: 10px;">
                            <thead>
                                <tr>
                                    <th class="text-center" ng-repeat="tc in tableData.columns">{{tc.colName}}</th>
                                    <!-- <th class="text-center">100% Completion</th>
                                    <th class="text-center">< 75% Completion</th>
                                    <th class="text-center">< 50% Completion</th>
                                    <th class="text-center">< 20% Completion</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tr in tableData.rows">
                                    <td class="text-center">{{tr.grade}}</td>
                                    <td class="text-center">{{tr.100p}}</td>
                                    <td class="text-center">{{tr.75p}}</td>
                                    <td class="text-center">{{tr.50p}}</td>
                                    <td class="text-center">{{tr.20p}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <!-- </div>
                <div class="panel panel-default" style="height: 40vh; margin-top:10px;"> -->
                    <!-- <div class="panel-heading"><b>Business Segments</b></div> -->
                    <div class="panel-body col-xs-6"> 
                        <div class="graphContainer"></div>
                    </div>
                </div>

    </div>
</div>

