<div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom:9px" >
      <b>{{viewTitle}}</b>
      <div class="right-inner-addon" style="display:inline-block;width:25%;margin-left:20px;">
          <i class="glyphicon glyphicon-search"></i>
          <input type="search" class="form-control" placeholder="Search" ng-model="searchText" ng-enter="searchNode()" />
      </div>
      <span style="margin-left: 10px;" class="glyphicon glyphicon-floppy-disk pull-right" ng-click="openSaveAsModal()" tooltip='"title":"Compose and Save"'></span>
      <span style="margin-left: 10px;" class="glyphicon glyphicon-ban-circle pull-right" ng-click="cleanCache()" tooltip='"title":"Clean Board"'></span>
      <span style="margin-left: 10px;" ng-if="currentSelNode" class="glyphicon glyphicon-pencil pull-right" ng-click="viewDefinition()" tooltip='"title":"View Definition"'></span>
      <span ng-if="currentSelNode" class="glyphicon glyphicon-eye-open pull-right" ng-click="getAllViewsBySelNode()" tooltip='"title":"Logical Views"'></span>
    </div>
    <div class="panel-body zero-padding">    
        <div panel panel-default>
            <div class="panel-body zero-padding">
                <div class="col-xs-2 zero-padding"  style="height:80vh;">
                    <div toolbox='"tools":"savedPathList"'></div>
                </div>
                <div droppable='"accept" : ".aggr", "dropHandler" : {"onAggrDrop":"onAggregateDrop"}' class="col-xs-8" style="cursor:hand;height:80vh;border:1px solid #ddd;">
                  <div id = "savedGraph" style="height:75vh;"></div>
                  <div style="height:5vh;">
                    <div class="legend">
                      <div class="arrow orange-arrow"></div>
                      <div class="bubble-title">Structure</div>
                      <div class="arrow green-arrow"></div>
                      <div class="bubble-title">Behaviour</div>
                      <div class="arrow aqua-arrow"></div>
                      <div class="bubble-title">Selected</div>
                      <div class="arrow report"></div>
                      <div class="bubble-title">Report</div>
                      <div class="arrow policy"></div>
                      <div class="bubble-title">Policy</div>
                      <div class="arrow person"></div>
                      <div class="bubble-title">Person</div>
                      <div class="arrow model"></div>
                      <div class="bubble-title">Model</div>
                      <div class="arrow committee"></div>
                      <div class="bubble-title">Committee</div>
                      <div class="arrow information"></div>
                      <div class="bubble-title">Information</div>
                      <div class="arrow system"></div>
                      <div class="bubble-title">System</div>
                      <div class="arrow data"></div>
                      <div class="bubble-title">Concept</div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 zero-padding"  style="height:80vh;">
                    <div class="panel panel-default zero-margin">
                      <div class="panel-heading">
                        <h3 class="panel-title">Sub Graphs</h3>
                      </div>
                    </div>
                    <table class="table table-striped">
                      <tbody>
                        <tr ng-repeat="aggrName in childAggrCache">
                          <td>{{aggrName}}</td><td><span class="glyphicon glyphicon-remove pull-right" ng-click="removeSubGraph(aggrName)"></span></td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
        </div>
        <div class="modal-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="deleteViews"> Delete edge views
            </label>
          </div>
        </div>
        <div class="modal-footer" style="margin-top:0;">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" ng-click="removeGraphFromDB()">Yes</button>
        </div>      
    </div>
  </div>
</div>

<div id="saveAsModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header background-seven">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Save As</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="combineAggrName" ng-disabled="isDisbleAggrName" />
            </div>
            <div class="col-sm-2" ng-click="isDisbleAggrName = false">
              <span class="glyphicon glyphicon-edit pull-right" style="margin-top:5px;"></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="saveMerging()">Save</button>
        </div>      
    </div>
  </div>  
</div>

<div class="modal fade" id="dsViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{dsViewerHead}}</h4>
      </div>
      <div class="modal-body">
        <textarea ng-disabled="true" ng-model="allColumnStr" rows="10" cols="40" style="border:none;width:100%;">

        </textarea>
        <br />
        <a class="pointer" ng-if="currentSelNode.extraInfo.definitionLink" ng-click="viewDefinitionLink()">Read More...</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeDsViewer()">Cancel</button>
      </div>
    </div>
  </div>
</div>