<div class="panel panel-primary">
	<div class="panel-heading"><b>{{heading.title}}</b></div>
  		<div class="panel-body">	
            <div panel panel-primary>
                <div class="panel-body">
                    <!--div class="col-sm-12"-->
                        <div class="row">
                            <div class="col-sm-12 pull-right">
                            	<div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">Infrastructure :</div>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="news" ng-options="n.Type for n in newsType" ng-change="selectNews()" ng-model="news"></select>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-sm-4">System :</div>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="news" ng-options="n.Type for n in newsType" ng-change="selectNews()" ng-model="news"></select>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-sm-4">Regulation :</div>
                                        <div class="col-sm-8">
                                            <select class="form-control" name="news" ng-options="n.Type for n in newsType" ng-change="selectNews()" ng-model="news"></select>
                                        </div>
                                    </div><br>
                                </div>
                            </div>
                            <div class="col-sm-5"></div>
                                <div class="col-sm-4">
                                <button class="btn-success form-control">Simulate contagion</button>
                                </div>
                            </div>
                        </div>
                    <!--/div-->
            	</div>
            </div>
  		</div>
	</div>
</div>
