<style>
  .dropdown-multiselect{
    width: 100%;
  }
  .dropdown-multiselect button{
    width: 100%;
  }
</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-chevron-left pull-left" style="margin-right:10px;" ng-click="goPreviousScreen()"></span>
    <b>{{heading.title}}</b>


    <div ng-if="doParaTag" class="btn-group btn-group-xs pull-right" role="group" aria-label="group1">
      <button type="button" class="btn btn-default" ng-click="saveParaTags()" tooltip='"title":"Save Paragraph Tags"'>
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-default" ng-click="enableChecklistBuilder()" tooltip='"title":"Next"'>
        <i class="fa fa-play" aria-hidden="true"></i>
      </button>
    </div>

    <button ng-if="!doParaTag" type="button" class="btn btn-default btn-xs pull-right" ng-click="editTags()" tooltip='"title":"Edit Paragraph Tags"'>
      <i class="fa fa-tags" aria-hidden="true"></i>
    </button>
    <div ng-if="!doParaTag" class="btn-group btn-group-xs pull-right margin-right-5" data-toggle="buttons">
      <label class="btn btn-primary" ng-click="setColorCode('all')">
          <input type="radio" name="options" id="option1" autocomplete="off"> All
      </label>
      <label class="btn btn-success" ng-click="setColorCode('Rule')">
          <input type="radio" name="options" id="option1" autocomplete="off"> Rule
      </label>
      <label class="btn btn-info" ng-click="setColorCode('Information')">
          <input type="radio" name="options" id="option1" autocomplete="off"> Information
      </label>
      <label class="btn btn-warning" ng-click="setColorCode('Explanation')">
          <input type="radio" name="options" id="option2" autocomplete="off"> Explanation
      </label>
    </div>
  </div>
  <div class="panel-body" style="height:81vh;overflow: hidden;">
    <div ng-if="!doParaTag" class="max-height">
        <div class="col-xs-6 max-height zero-padding">
          <div class="container-fluid max-height" style="overflow: auto;">
            <div ng-repeat="para in paragraphs" ng-if="currentTag === paraTags[para.elementID] || currentTag === 'all'" style="position: relative;">
              <div class="well">
                <i class="fa fa-check-circle fa-2x" ng-class="{'text-gray':!currentParagraphs[para.elementID], 'text-green':currentParagraphs[para.elementID]}" aria-hidden="true" ng-click="selectParagraph(para.elementID)" style="position:absolute;top:-2px;left:-13px;background:#FFFFFF;border-radius: 50%;"></i>
                <div ng-class="{'text-danger': para.willIgnore === 'true'}" read-more="" content="{{para.bodyText}}"></div>
                <span ng-if="paraTags[para.elementID]" ng-class="getParaTagClass(paraTags[para.elementID])" class="paragraph-tag" tooltip='"title":"{{paraTags[para.elementID]}}","placement":"right"'>{{paraTags[para.elementID].charAt(0)}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 max-height" style="overflow: hidden;padding-right: 0;">
          @*<div class="container-fluid zero-padding">
            <form class="form-inline">
              <div class="form-group col-xs-9" style="padding-left: 0;">
                <textarea class="form-control max-width" ng-model="question.text" rows="5"></textarea>
              </div>
              <div class="form-group col-xs-3">
                <div class="row">
                  <div ng-hide="currentParagraphs.length < 1 || !question.text" class="max-width" ng-dropdown-multiselect="" options="currentConcept.components" selected-model="question.components" extra-settings="multiSelectCfg" group-by="type"></div>
                </div>
                <div class="row" style="margin-top: 5px;">
                  <button ng-disabled="!question.text || question.components.length < 1" type="submit" class="btn btn-default max-width" ng-click="addQuestion()">Add</button>
                </div>
                <div class="row" style="margin-top: 5px;">
                  <button ng-disabled="questions.length < 1" type="submit" class="btn btn-default max-width" ng-click="saveQuestions()">Save</button>
                </div>
              </div>
            </form>
          </div><br>*@
          <div class="container-fluid zero-padding">
            <div class="panel panel-default">
              <div class="panel-heading">
                Existing Checklists
                <i class="fa fa-eye pull-right" aria-hidden="true" ng-click="getChecklistByParagraphs()" tooltip='"title":"View checklists"'></i>
                <i class="fa fa-plus pull-right" aria-hidden="true" style="margin-right:10px;" ng-click="addChecklist()" tooltip='"title":"Add new checklist"'></i>
              </div>
              <div class="panel-body zero-padding" style="height:71vh;overflow: auto;">
                <table class="table table-bordered zero-margin">
                  <tbody>
                    <tr ng-repeat="c in checklist">
                      <td>
                        <div>{{c.bodyText}}</div>
                        @*<div><div class="badge margin-right-5" ng-repeat="comp in q.components">{{comp.name}}</div></div>*@
                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Config Tools">
                          <div ng-if="c.isMandatory" class="badge">Mandatory</div>
                          <div ng-if="!c.isMandatory" class="badge">Optional</div>
                          <div class="btn-group btn-group-xs pull-right" role="group" aria-label="Settings">
                            <button type="button" class="btn btn-default" ng-click="editChecklist(c)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-default" ng-click="deleteChecklist(c)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div ng-if="doParaTag" class="col-xs-12 max-height zero-padding">
      <div class="container-fluid max-height" style="overflow: auto;">
        <div ng-repeat="para in paragraphs" style="position: relative;">
          <div class="well">
            <div ng-class="{'text-danger': para.willIgnore === 'true'}" read-more="" content="{{para.bodyText}}"></div>
            <select class="form-control" style="position: absolute;top: 10px;right: 30px;width: 20%;" ng-options="op for op in paraTagOptions" ng-model="paraTags[para.elementID]"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="checklistModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:92%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Checklist Item</h4>

      </div>
      <div class="modal-body zero-padding">
        <ul class="nav nav-tabs">
          <li class="active"><a class="pointer" data-toggle="tab" data-target="#checklistTab">Checklist</a></li>
          <li ng-if="checklistItem.id"><a class="pointer" data-toggle="tab" data-target="#attachmentTab">Attachments</a></li>
        </ul>
        <div class="tab-content">
          <div id="checklistTab" class="tab-pane fade in active">
            <div class="container-fluid padding-15" style="height: 45vh;">
              <div class="col-xs-8 max-height" style="overflow: auto;">
                <div ng-if="currentParagraphs[para.elementID]" ng-repeat="para in paragraphs" style="position: relative;">
                  <div class="well">
                    <div ng-class="{'text-danger': para.willIgnore === 'true'}" read-more="" content="{{para.bodyText}}"></div>
                    <span ng-if="paraTags[para.elementID]" ng-class="getParaTagClass(paraTags[para.elementID])" class="paragraph-tag" tooltip='"title":"{{paraTags[para.elementID]}}","placement":"right"'>{{paraTags[para.elementID].charAt(0)}}</span>
                    <div class="para-bottom-tile text-danger pointer" ng-click="getRelatedContexts(para)">Related Paragraphs</div>
                  </div>
                </div>

                <div class="bs-docs-section" ng-if="relateParagraphs.length > 0">
                  <h4 class="page-header">Related Paragraphs for para: {{baseParagraph.name}} ({{relateParagraphs.length}} paragraphs found) &nbsp; <i class="fa fa-table" aria-hidden="true" ng-click="viewCsvExporter()" tooltip='"title":"Grid view"'></i></h4>
                  <div ng-repeat="para in relateParagraphs" style="position: relative;">
                    <div class="well">
                      <div ng-class="{'text-danger': para.willIgnore === 'true'}" read-more="" content="{{para.bodyText}}"></div>
                      <div class="text-info para-bottom-tile">(File: {{para.fromFileName || "FASB"}})</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 max-height">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Component Types
                  </div>
                  <div class="panel-body zero-padding" style="height: 35vh;overflow: auto;">
                    <table class="table table-condensed table-responsive zero-margin">
                      <tr ng-repeat="(k, v) in masterComponentTypes">
                        <td>
                          <i class="fa fa-check-circle fa-2x" ng-class="{'text-gray':!currentComponentTypes[k], 'text-green':currentComponentTypes[k]}" aria-hidden="true" ng-click="selectComponentType(k)"></i>&nbsp;&nbsp;{{v}}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid" style="height: 12vh;padding:5px 28px;">
              <textarea class="form-control max-width max-height" ng-model="checklistItem.bodyText" placeholder="Type a checklist item text..."></textarea>
            </div>
            <div class="container-fluid" style=";padding:18px 28px;">
                <div class="form-inline pull-right">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="checklistItem.isMandatory"> Mandatory
                    </label>
                  </div>
                  <button type="button" class="btn btn-default" ng-click="saveChecklist()">Save</button>
                </div>
            </div>
          </div>
          <div id="attachmentTab" class="tab-pane fade">
            <div class="container-fluid" style="padding: 15px 28px;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Evidence
                  <i ng-if="!commentMode" class="fa fa-comment pull-right" aria-hidden="true" tooltip='"title":"Add Comment"' ng-click="addComment()"></i>
                  <i ng-if="commentMode" class="fa fa-file pull-right" aria-hidden="true" tooltip='"title":"Add File"' ng-click="addFile()"></i>
                </div>
                <div class="panel-body zero-padding" style="height: 54vh;">
                  <div class="col-xs-8 zero-padding max-height" style="overflow: auto;border-right: 1px solid #ccc;">
                    <table class="table table-condensed table-striped zero-margin">
                      <tbody>
                        <tr ng-repeat="at in attachments">
                          <td>
                            {{at.name}}
                          </td>
                          <td>
                            {{fileMimeTypes[at.mime]}}
                          </td>
                          <td>
                            <i class="fa fa-trash-o pull-right" aria-hidden="true" ng-click="deleteAttachmentById(at.data_id)"></i>
                            <i class="fa pull-right margin-right-10" ng-class="{'fa-eye': at.mime === 'comment', 'fa-download': at.mime != 'comment'}" aria-hidden="true" ng-click="viewAttachment(at)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-xs-4 padding-15">
                    <div class="max-height" ng-show="!commentMode">
                      <div ngf-drop ngf-select ng-model="file" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false" accept="image/*,application/*,text/plain" ngf-pattern="'image/*,application/*,text/plain'" style="height:50vh;">Drop file or image here or click to upload</div>
                      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </div>
                    <div class="max-height" ng-show="commentMode">
                      <form>
                        <div class="form-group">
                          <textarea class="form-control" rows="10" ng-model="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default pull-right" ng-click="saveComment()">Save</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="commentViewer" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Comment</h4>
      </div>
      <div class="modal-body">
        {{viewComment}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="onCommentViewerClose()">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="paraFilterModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Knowledge Repository</h3>
              </div>
              <div class="panel-body zero-padding">
                <ul class="list-group zero-margin">
                  <li class="list-group-item" ng-repeat="r in regulations">
                    <input type="checkbox" ng-model="r.isChecked" style="position: relative;top: 2px;"/>&nbsp;{{r.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Context</h3>
              </div>
              <div class="panel-body zero-padding">
                <ul class="list-group zero-margin">
                  <li class="list-group-item" ng-repeat="c in currentContexts">
                    <input type="checkbox" ng-model="c.isChecked" style="position: relative;top: 2px;"/>&nbsp;{{c.context_name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="getChecklistModal()">Close</button>
        <button type="button" class="btn btn-default" ng-click="getRelatedParagraphsByContext()">Get Paragraphs</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="csvExporterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:92%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Related Paragraphs</h4>
      </div>
      <div class="modal-body zero-padding-bottom">
        <div ui-grid="gridOptions" ui-grid-exporter ui-grid-resize-columns ui-grid-move-columns style="height:65vh;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" ng-click="exportCsv()">CSV</button>
      </div>
    </div>
  </div>
</div>