<div class="panel panel-default">
  <div class="panel-heading" style="padding-bottom:9px" >
    <b>{{heading.title}}</b>
    <div ng-show="currentView != 'SUMMERY'" class="right-inner-addon" style="display:inline-block;width:25%;margin-left:20px;">
      <i class="glyphicon glyphicon-search"></i>
      <input type="search" class="form-control input-sm" placeholder="Search from {{$$childTail.childNodes.length || 'following'}} items..." ng-model="parentSearchText" />
    </div>
    <div ng-show="currentView != 'SUMMERY'" class="btn-group pull-right" role="group">
      <button ng-if="isGridView" type="button" class="btn btn-xs" ng-click="toggleView()">
        <i class="fa fa-th-list" aria-hidden="true"></i>
      </button>
      <button ng-if="!isGridView" type="button" class="btn btn-xs" ng-click="toggleView()">
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="panel-body zero-padding">
    <ul class="nav nav-tabs">
      <li class="active"><a ng-click="goSummeryView()" class="pointer" data-toggle="tab" data-target="#summeryTab">Summery View</a></li>
      <li><a ng-click="goConceptView()" class="pointer" data-toggle="tab" data-target="#commonTab">Glossary View</a></li>
      <li><a ng-click="goComponetView()" class="pointer" data-toggle="tab" data-target="#commonTab">Component View</a></li>
      <li><a ng-click="goBusinessSegmentView()" class="pointer" data-toggle="tab" data-target="#commonTab">Regulatory Content View</a></li>
      <li><a ng-click="goDocumentView()" class="pointer" data-toggle="tab" data-target="#commonTab">Regulatory Content View</a></li>
    </ul>

    <div class="tab-content">
      <div id="summeryTab" class="tab-pane fade in active" style="height: 76vh;overflow-y: auto;padding:10px;">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pointer">
              <div high-chart options="options" data="data" class="container-fluid"></div>
            </div>
            <div class="card-content margin-top-5">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card-action">
              <label>{{data.title}}</label>
            </div>
          </div>
        </div>
      </div>
      <div id="commonTab" class="tab-pane fade">
        <ui-view></ui-view>
      </div>

    </div>
  </div>
</div>