<div class="panel panel-default">
  <div class="panel-heading" style="padding-bottom:9px" >
    <b>{{heading.title}}</b>
    <div ng-show="childNodes.length > 0" class="right-inner-addon" style="display:inline-block;width:25%;margin-left:20px;">
      <i class="glyphicon glyphicon-search"></i>
      <input type="search" class="form-control" placeholder="Search from {{childNodes.length}} items..." ng-model="searchText" />
    </div>
    <div class="pull-right">
      <span ng-click="leftSlideToggle()" class="fa fa-expand pull-right" tooltip='"title":"Fullscreen"'></span>
      <div class="dropdown pull-right margin-right-10" style="top: -6px;">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li class="pointer" ng-click="startContentParser()"><a><i class="fa fa-file-pdf-o"></i> Document Parser</a></li>
          <li class="pointer" ng-click="startOntologyParser()"><a><i class="fa fa-share-alt"></i> Ontology Parser</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel-body zero-padding">
    <div panel panel-default>
      <div class="panel-body" style="padding:0;">
        <div ng-class="collapseClasses.left" style="overflow-y:auto;height:80vh;">
          <ul class="list-group">
            <li class="list-group-item pointer puff" ng-repeat="node in nodes" ng-click="exploreNode(node , $event)">
              {{node.name}}
            </li>
          </ul>
        </div>
        <div class="zero-padding" ng-class="collapseClasses.center" style="cursor:hand;height:80vh;border:1px solid #ddd;overflow: auto;">
            <ol class="breadcrumb" ng-if="breads.length > 0">
                <li ng-repeat="bread in breads">{{bread.name}}</li>
            </ol>
            <div ng-if="child.hasChecklist" class="col-md-2" ng-repeat="child in childNodes | orderBy : 'name' | filter: searchText" index="{{$index}}">
              <div class="panel panel-default">
                <div class="panel-body text-center zero-padding" ng-class="getComplianceColorcode(child.compliance)">
                    <div style="font-weight: bold;font-size: 2.5em;">{{child.name.charAt(0)}}</div>
                    <div class="pointer" style="position:absolute;right:20px;top:5px;font-weight: bold;" ng-click="getChecklistByNode(child)">{{child.compliance}}%</div>
                </div>
                <div ng-click="getNodeDetails(child, $index)" class="panel-footer ellipsis-text pointer" tooltip='"title":"{{child.name}}"'>{{child.name}}</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="dsViewer" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:92%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{currentNode.name}}&nbsp({{currentNode.type}})</h4>
        <i ng-click="getGraph()" class="fa pull-right" ng-class="{'fa-th-large':showGraph, 'fa-sitemap':!showGraph}" aria-hidden="true" style="margin: -22px 30px;"></i>
        <i class="fa fa-paragraph pull-right" aria-hidden="true" ng-click="goChecklistBuilder()" style="margin: -22px 60px;"></i>
      </div>
      <div class="modal-body" style="height: 66vh; overflow: auto;padding-bottom: 0;">
        <div ng-if="!showGraph">
          <div class="row zero-padding">
            <div class="col-md-12">
              <textarea ng-if="currentNode.description.definition" ng-disabled="true" ng-model="currentNode.description.definition" rows="4" cols="40" style="border:none;width:100%;padding:10px;">

              </textarea>
            </div>
          </div>
          <br />
          <div class="row zero-padding">
            <div class="col-md-2" ng-repeat="(k, v) in nodeDetails">
              <div class="panel panel-default" ng-if="k==='Related Concept'">
                <div class="panel-heading">{{k}}</div>
                <ul class="list-group" style="max-height: 40vh; overflow: auto;">
                  <li class="list-group-item pointer text-primary" ng-repeat="o in v" ng-click="getFilteredDataByCompName(o.name)">{{o.name}}</li>
                </ul>
              </div>
              <div class="panel panel-default" ng-if="k!='Related Concept'">
                <div class="panel-heading">{{k}}</div>
                <ul class="list-group" style="max-height: 40vh; overflow: auto;">
                  <li class="list-group-item" ng-repeat="o in v">
                    <span tooltip='"title":"View Checklist", "placement":"right"' class="badge pointer" ng-click="getCheckList(currentNode.name, k, o.name)">?</span>
                    {{o.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <vis-graph ng-if="showGraph" data="graphData" options="visOptions"></vis-graph>
      </div>
      <div style="height:5vh;position:absolute;right:10px;bottom:70px;" ng-if="showGraph">
        <div class="legend">
          <div class="arrow concept"></div>
          <div class="bubble-title">Concept</div>
          <div class="arrow report"></div>
          <div class="bubble-title">Report</div>
          <div class="arrow policy"></div>
          <div class="bubble-title">Policy</div>
          <div class="arrow person"></div>
          <div class="bubble-title">Person</div>
          <div class="arrow model"></div>
          <div class="bubble-title">Model</div>
          <div class="arrow committee"></div>
          <div class="bubble-title">Committee</div>
          <div class="arrow information"></div>
          <div class="bubble-title">Information</div>
          <div class="arrow system"></div>
          <div class="bubble-title">Information</div>
          <div class="arrow paragraph"></div>
          <div class="bubble-title">System</div>
          <div class="arrow data"></div>
          <div class="bubble-title">Data Element</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="definitionViewer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{currentGraphNode.name}}</h4>
      </div>
      <div class="modal-body">
        <textarea ng-disabled="true" ng-model="currentGraphNode.desc.definition" rows="10" cols="40" style="border:none;width:100%;">

        </textarea>
        <br />
        <a class="pointer" ng-if="currentGraphNode.desc.definitionlink" ng-click="viewDefinitionLink()">Read More...</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeDsViewer()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="checklistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Checklist</h4>
      </div>
      <div class="modal-body zero-padding-bottom" style="height: 66vh; overflow: auto;">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="(k, v) in checkList">
            <input type="checkbox" ng-model="answers[k]" style="position: relative;top: 2px;"/>&nbsp;{{v}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeCheckListModal()">Cancel</button>
        <button type="button" class="btn btn-default" ng-click="saveAnswers()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="checklistModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Checklist</h4>
      </div>
      <div class="modal-body zero-padding-bottom" style="height: 66vh; overflow: auto;">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="(k, v) in checkList">
            <input type="checkbox" ng-model="answers[k]" style="position: relative;top: 2px;"/>&nbsp;{{v}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default" ng-click="saveAnswers()">Save</button>
      </div>
    </div>
  </div>
</div>