@import be.objectify.deadbolt.java.views.html.{restrict, restrictOr}
@import be.objectify.deadbolt.java.views.html.{subjectPresent, subjectPresentOr}
@import be.objectify.deadbolt.java.views.html.{subjectNotPresent, subjectNotPresentOr}
@import be.objectify.deadbolt.core.utils.TemplateUtils.{la, as}

<nav class="navbar navbar-default" role="navigation" style="margin:0;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <img class="customBrandLogo" src="ceclassets/images/paraboleLogoV3.png" alt="Parabole RDA"/>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">         
      <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:9000/"><span style="font-size: 14px;" class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;<b>Home</b></a></li>
          @*<li><a href="http://localhost:9000/rda/doLogin"><span style="font-size: 14px;" class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;<b>RDA</b></a></li>
          <li><a href="http://localhost:9000/ccar/doLogin"><span style="font-size: 14px;" class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;<b>CCAR</b></a></li>*@

          @restrict(roles = la(as("EXTSME"), as("ADMIN"))) {
              <li class="active"><a href="" ng-click="goToStatusChecklist($event)"><span style="font-size: 14px;" class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;<b>
                  Status Checklist</b></a></li>
              <li><a href="" ng-click="goToAlerts($event)"><span style="font-size: 14px;" class="glyphicon glyphicon-bell" aria-hidden="true"></span>&nbsp;<b>
                  Alerts</b></a></li>
              <li><a href="" ng-click="goToInbox($event)"><span style="font-size: 14px;" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<b>
                  Inbox</b></a></li>
          }
          @restrict(roles = la(as("CCO"))) {
              <li class="active"><a href="" ng-click="goCompletion($event)"><span style="font-size: 14px;" class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp;<b>
                  Completion Dashboard</b></a></li>
              <li><a href="" ng-click="goCompliance($event)"><span style="font-size: 14px;" class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp;<b>
                  Compliance Dashboard</b></a></li>
          }
        <li style="height:32px;margin-right:10px;" class="dropdown">
          <a class="dropdown-toggle pointer" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img src="ceclassets/images/user.png" alt="user" style="width:23px;"><b> {{userInfo.user}} </b><span class="caret"></span></a>
            <ul class="dropdown-menu" style="top:inherit;">
                <li><a href="http://localhost:9000/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row max-width" style="padding:0;height:93%;">


    <div ng-if="currentState != 'landing.dashboard'" class="col-xs-1" style="width:4%;height:100%;background:#eaeaea;padding-right:0;border-right:1px solid #CBCBCB; overflow-y:scroll; -webkit-scrollbar {width: 12px;};">
        <div class="col-xs-12 sidebar-nav" ng-class="{'active-nav': $index==0}" ng-repeat="p in primaryNav" ng-click="goTo(p.title, $index)" tooltip='"title":"{{p.title}}","placement":"right"'>
            <center><img src="{{p.label}}" style="width:100%;height:100%"></center>
        </div>
    </div>
    <div ng-class="{'col-xs-11': currentState != 'landing.dashboard', 'col-xs-12': currentState === 'landing.dashboard'}" style="width:96%;height:100%;padding-top:15px;">
        <ui-view></ui-view>
    </div>
</div>


<!-- <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="text-align:center;">
    <div class="container">
        Copyright Â© Parabole LLC, 2014. All rights reserved. All the contents of this website are protected by US and international copyright laws, and may not be copied, reprinted, published, translated, adapted, hosted, or otherwise distributed by any means without explicit permission of the Parabole LLC | Registered Address: Princeton, NJ 08540, USA | T: +1 860-730-3146 | <a href="http://www.mindparabole.com/">www.mindparabole.com</a>.
    </div>
</nav> -->