<div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom:23px">
      <span class="glyphicon glyphicon-chevron-left pull-left" style="margin-right:10px;" ng-click="goPreviousScreen()"></span>{{logicalViewCfg.nodeName}}( Aggregate: {{logicalViewCfg.aggregateName}} )
      <div class="btn-group pull-right">
      <button class="btn btn-default" ng-click="getRootClass()" style="padding:3px;"><span class="glyphicon glyphicon-eye-open"></span></button>
      </div>
    </div>
    <div class="panel-body" style="height:80vh;overflow-y:auto;">
        <div ng-repeat="view in logicalViewCfg.views" draggable='"handle":".panel-heading", "containment":"parent"' collapsible='"actObj":"view", "type":"list", "hasCheck":false, "viewable":true, "closable":true, "selectable":true, "editable":true, "closeType":"SERVER_SIDE"'></div>
    </div>
</div>

<div id="logicalViewModal" class="modal fade bs-example-modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{viewName}}</h4>
      </div>
      <div class="modal-body" style="height:49vh;overflow:auto;">  
        <div class="table-responsive" id='lvGrid' style='height:45vh'>
         
        </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click='closeModal("logicalViewModal")'>Cancel</button>
        <button type="button" class="btn btn-primary" ng-click='getCombinedViewName()' ng-show="showSaveButton">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="rootClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Root Class</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>Select root class</label>
            <select class="form-control" ng-options="r.rootCls as r.viewName for r in rootClasses" ng-model="requestObj.rootCls">
            </select>
          </div>
          <div class="form-group">
            <label>Select aggregate base</label>
            <select class="form-control" ng-options="v.name as v.name for v in baseNodeList" ng-change="onBaseNodeChange(v)" ng-model='baseNodeName'>
            </select>
          </div>
          <div class="form-group">
            <label>Select Join Property</label>
            <select class="form-control" ng-options="c as c.name for c in baseColumns" ng-model="requestObj.joinColumn">
            </select>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="getCombinedView()">Show</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter a name</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="viewName" placeholder="Enter a name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="8" id="description" ng-model="description"></textarea>
          </div>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveCombinedView()">Save</button>
      </div>
    </div>
  </div>
</div>