<div class="panel panel-default">
    <div class="panel-heading" style="padding-bottom:23px"><span class="glyphicon glyphicon-chevron-left pull-left" style="margin-right:10px;" ng-click="goPreviousScreen()"></span>{{currentEdge.name}}
      <div class="btn-group pull-right">
        <button class="btn btn-default" ng-click="doReference()" popover='"content":"Drop arrow", "placement":"left"'><span class="glyphicon glyphicon-link"></span></button>
        <button class="btn btn-default" ng-click="getView()"><span class="glyphicon glyphicon-eye-open"></span></button>
      </div>
    </div>
    <div class="panel-body">    
        <div id="mapperWindow" class="col-xs-12 map-area">
          <div ng-repeat="tab in currentTables" index="{{$index}}" draggable='"handle":".panel-heading", "containment":"parent", "handler": {"onDragStop":"onDragStop"}' collapselist='"actObj":"tab", "closable":true, "closeType":"CLIENT_SIDE"'></div>
        </div>
    </div>
</div>

<div id="arrowDropModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Select relationship property</h4>
      </div>
      <div class="modal-body" style="height:49vh;">
        <div class="panel panel-default mapping-pane pull-left">
          <div class="panel-heading">
            <h3 class="panel-title">{{fromPanel.name}}</h3>
          </div>
          <div class="panel-body" style="padding:0;">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="attr in fromPanel.attributes"><input name="from" type="radio" ng-model="rel.from" ng-value="attr">&nbsp;{{attr.name}}</li>
            </ul>
          </div>
        </div>
        <div class="bi-arrow"></div>
        <div class="panel panel-default mapping-pane pull-right">
          <div class="panel-heading">
            <h3 class="panel-title">{{toPanel.name}}</h3>
          </div>
          <div class="panel-body" style="padding:0;">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="attr in toPanel.attributes"><input name="to" type="radio" ng-model="rel.to" ng-value="attr">&nbsp;{{attr.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveRelation()">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->