<div class="row-fluid" style="height:95%;margin-bottom:10px;">
  <div class="col-sm-12 max-height zero-padding">
    <div class="panel panel-default max-height panel-3d" style="background:#eee;">
      <div class="panel-heading" style="background: #fff;  min-height:50px;"><b>Lineage Explorer</b>
        <i ng-if="selectedConceptNodeName.des" class="fa fa-info icon-sm pull-right" style="position:relative;top: 8px;margin-left:10px;" ng-click="viewInfo()"></i>
        <div ng-if="selectedConceptNodeName" class="pull-right" style="position:relative;top:6px;"><span class="badge label label-success">{{selectedConceptNodeName.name}}</span></div>
        <div class="right-inner-addon" style="display:inline-block;width:30%;margin-left:10px;">
            @*<i class="glyphicon glyphicon-search"></i>
            <input type="search" class="form-control" placeholder="Search" ng-model="searchText" ng-enter="searchNode()" />*@

        </div>
          <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
              @*<div class="dropdown">
                  <button class="btn btn-default dropdown-toggle lineage-dropdown" type="button" data-toggle="dropdown"> Select Concept <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="#">CCAR</a></li>
                      <li><a href="#">FRY-14-Q</a></li>
                      <li><a href="#">FRY-14-A</a></li>
                  </ul>
              </div>*@
              @*<select ng-options = "dropdownElement.name for dropdownElement in dropdownElements" ng-model="item" ng-change="callGetJsonForAllLinege()"></select>*@

              <div class="form-group">
              <select ng-options = "dropdownElement.name for dropdownElement in dropdownElements" ng-init="inputData.useCase=dropdownElements[0]" ng-model="inputData.useCase"></select>
              </div>

          </div>
      </div>
      <div class="panel-body zero-padding" viz-graph="vizCfg" ng-model="graphData" style="height: 71vh; background:#eee;"></div>
        <div class="panel-footer panelFooter">
                <div class="row-fluid">
                <form name="constructionForm">
                    <div class="col-sm-2">
                        <label for="sel2">Date Range from</label>
                        <select class="form-control" id="sel1" ng-model="inputData.dateRange.from" required>
                            <option>2010</option>
                            <option>2011</option>
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="sel2">Date Range to</label>
                        <select class="form-control" id="sel1" ng-model="inputData.dateRange.to" required>
                            <option>2011</option>
                            <option>2012</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="sel2">Data File Referance </label>
@*
                        <input type="file" ng-model="inputData.file" file-select="data" file-loaded="myLoaded()" file-error="myError($error)" file-progress="myProgress($total,$loaded)">
*@
                        <file name="file" ng-model="inputData.file" required />
                @*      <label for="sel2">Data File Reference</label>
                        <input type="file" ng-model="inputData.file">*@
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <br>
                        <button type="button" class="btn btn-default pull-right" ng-show="constructionForm.$valid" ng-click="onSubmitFile()">Submit the Construction</button>
                    </div>
                </form>
                </div>
        </div>
    </div>
  </div>        
</div>