<div class="panel panel-default">
  <div class="panel-heading">
    <b>{{heading.title}}</b>
  </div>
  <div class="panel-body" style="height:81vh;overflow: auto;">
    <div class="col-md-2" ng-repeat="reg in regulations">
      <div class="panel panel-default pointer" style="box-shadow: 1px 2px 7px #d8d8d8;" ng-click="loadRegulation(reg)">
        <div class="panel-body" style="padding:45px;">
          <img class="img-responsive width-auto doc-card-img" src="ceclassets/images/regulation_doc.png"/>
        </div>
        <div class="panel-footer ellipsis-text pointer">{{reg.name}}</div>
      </div>
    </div>
  </div>
</div>