<div class="panel panel-default">
    	<div class="panel-heading"><span class="glyphicon glyphicon-chevron-left pull-left" style="margin-right:10px;" ng-click="goPreviousScreen()" ng-hide="currentState == 'landing.report'"></span><b>{{viewTitle}}</b><span class="glyphicon glyphicon-file pull-right" ng-click="creatReport()"></span>
      </div>
  		<div class="panel-body" style="height:81vh">
          <div class="report-frame" removable="report" ng-repeat="report in reports" id="report.id">
            <div class="report-thumb">
              <div class="play" ng-click="reportOnPreview(report.id)"></div>
            </div>
            <div class="report-no" ng-click="reportOnClick(report.id)">{{report.name}}</div>
          </div>

          <div recyclebin ng-show="recycleIsVisible"></div>
         <!--  <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent"></div>  -->
  		</div>
	</div>
</div>

<div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click='recycleIsVisible = false'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
        </div>
        <div class="modal-footer" style="margin-top: 0;">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='recycleIsVisible = false'>No</button>
          <button type="button" class="btn btn-primary" ng-click="removeItem()">Yes</button>
        </div>      
    </div>
  </div>
</div>