<section class="banner-content columns">
  <ul class="breadcrumbs">
    <li><a href="?page=main">Home</a></li>
    <li><a href="?page=ext">Extensions</a></li>
    <li class="unavailable"><a href="#">Browser Extensions</a></li>
    <li class="current"><a href="#">Firefox Extension</a></li>
  </ul>

  <h2>Skylink Firefox Extension</h2>

  <div class="banner-row" data-equalizer data-options="equalize_on_stack: true">
    <h4 class="heading-title">Features</h4>
    <p>The current extension allows you to do screensharing with your Web Application.
    In the future, this extension will be extended</p>
    <p>Download Firefox extension</p>
  </div>

  <div class="banner-row" data-equalizer data-options="equalize_on_stack: true">
    <h4 class="heading-title">How to integrate it with your Web Application</h4>
    <p>If you are using Skylink, it has already been integrated. But if you would like to use our
    extension without Skylink, you will require to set the following parameters.</p>
  </div>
</section>

